stepfunction/definition.json
{
  "Comment": "Workflow de Autorização com SQS e Lambda no LocalStack",
  "StartAt": "SQS SendMessage",
  "States": {
    "SQS SendMessage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Arguments": {
        "QueueUrl": "http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/sqs-autorizador-eventos",
        "MessageBody": "{% $merge([$states.input, {'taskToken': $states.context.Task.Token}]) %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "erro ao publicar no SQS",
          "Next": "Falha"
        }
      ],
      "Next": "Lambda Invoke"
    },
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "Payload": "{% $states.input %}",
        "FunctionName": "arn:aws:lambda:us-east-1:000000000000:function:lambda-response"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Falha",
          "Comment": "Erro na execução da Lambda"
        }
      ]
    },
    "Falha": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}